.longrid {
  overflow: hidden;

  // .longrid__header

  &__header {
    position: relative;
    margin-bottom: 250px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 80px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 60px;
    }
  }

  // .longrid__header-pic

  &__header-pic {
    position: relative;
    z-index: 3;
    max-width: 100%;
  }

  // .longrid__header-line-1

  &__header-line-1 {
    position: absolute;
    bottom: -90px;
    left: 0;
    max-width: 100%;
    z-index: 2;

    @media (max-width: $breakpoint992) {
      bottom: -40px;
    }

    @media (max-width: $breakpoint768) {
      bottom: -20px;
    }

    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
    }
  }

  // .longrid__header-line-2

  &__header-line-2 {
    position: absolute;
    bottom: -180px;
    left: 0;
    z-index: 1;
    max-width: 100%;

    @media (max-width: $breakpoint992) {
      bottom: -80px;
    }

    @media (max-width: $breakpoint768) {
      bottom: -40px;
    }

    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
      animation-delay: 0.5s;
    }
  }

  // .longrid__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .longrid__title

  &__title {
    margin-bottom: 46px;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

    @media (max-width: $breakpoint992) {
      margin-bottom: 30px;
      font-size: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }

  // .longrid__step

  &__step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 50px;
    row-gap: 28px;
    max-width: 1200px;
    margin: 0 auto 62px;
    padding: 60px 44px;
    box-shadow: 0px 20px 26px rgba(226, 172, 118, 0.50);
    border: 3px solid rgba(255, 255, 255, 0.70);
    border-radius: 64px;

    @media (max-width: $breakpoint992) {
      column-gap: 30px;
      margin: 0 20px 40px;
      padding: 20px;
      border-radius: 40px;
    }

    @media (max-width: $breakpoint768) {
      column-gap: 20px;
      border-radius: 24px;
      margin: 0 20px 30px;
      padding: 20px 10px;
    }
  }

  // .longrid__step-prev

  &__step-prev {

    @media (max-width: $breakpoint992) {
      width: 40px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    &.disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  // .longrid__step-status

  &__step-status {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @media (max-width: $breakpoint992) {
      column-gap: 16px;
    }
  }

  // .longrid__step-num

  &__step-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    min-width: 74px;
    height: 74px;
    border-radius: 100%;
    border: 2px solid #fff;
    font-size: 37px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: $breakpoint992) {
      width: 40px;
      height: 40px;
      min-width: 40px;
      font-size: 20px;
    }
  }

  // .longrid__step-subtitle

  &__step-subtitle {
    font-size: 37px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .longrid__step-next

  &__step-next {

    @media (max-width: $breakpoint992) {
      width: 40px;

      img {
        max-width: 100%;
        width: 100%;
        height: 100%;
      }
    }

    &.disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }
  }

  // .longrid__items

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 28px;
    max-width: 808px;
    margin: 0 auto 62px;
    padding: 60px 44px;
    box-shadow: 0px 20px 26px rgba(226, 172, 118, 0.50);
    border: 3px solid rgba(255, 255, 255, 0.70);
    border-radius: 64px;

    @media (max-width: $breakpoint992) {
      margin: 0 20px 40px;
      border-radius: 40px;
      padding: 30px;
    }

    @media (max-width: $breakpoint768) {
      margin: 0 20px 30px;
      border-radius: 24px;
      padding: 20px;
      row-gap: 20px;
    }
  }

  // .longrid__item

  &__item {}

  // .longrid__item-label

  &__item-label {
    margin-bottom: 20px;
    padding-left: 70px;
    font-size: 33px;
    font-weight: 700;

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      padding-left: 20px;
      font-size: 16px;
    }
  }

  // .longrid__item-content

  &__item-content {
    display: flex;
    align-items: center;
    column-gap: 24px;

    @media (max-width: $breakpoint768) {
      column-gap: 16px;
    }
  }

  // .longrid__item-pic

  &__item-pic {
    max-width: 120px;

    @media (max-width: $breakpoint992) {
      max-width: 80px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 40px;
    }
  }

  // .longrid__item-text

  &__item-text {
    font-size: 23px;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
    }
  }

  // .longrid__main-picture

  &__main-picture {
    max-width: 990px;
    margin: 0 auto;
    text-align: center;

    @media (max-width: $breakpoint992) {
      max-width: 600px;
      padding: 0 20px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 100%;
    }
  }

  // .longrid__footer

  &__footer {
    padding: 32px 20px 188px;
    background-image: url('../img/longrid/longrid-footer.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;

    @media (min-width:1600px) {
      padding: 32px 20px 240px;
    }

    @media (max-width: $breakpoint768) {
      padding: 32px 20px 60px;
    }
  }

  // .longrid__footer-descr

  &__footer-descr {
    max-width: 610px;
    margin: 0 auto;
    font-size: 23px;
    text-align: center;

    @media (max-width: $breakpoint992) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }
}