.main {
  // background-image: url('../img/main/main-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  // .main__header

  &__hero {
    position: relative;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #4DA5FF 0%, #D6F1FA 100%);
  }

  &__header {
    position: relative;
  }

  // .main__pictures

  &__pictures {
    position: relative;
    padding-top: 120px;
    z-index: 3;

    @media (max-width: 1200px) {
      padding-top: 100px;
    }

    @media (max-width: $breakpoint992) {
      padding-top: 200px;
    }

    @media (max-width: $breakpoint768) {
      padding-top: 300px;
    }
  }

  // .main__header-pic

  &__header-pic {
    position: relative;
    max-width: 100%;
    width: 100%;
    max-height: 900px;
    z-index: 3;
  }

  // .main__cloud-1

  &__cloud-1 {
    position: absolute;
    left: 0;
    top: 0%;
    max-width: 740px;
    z-index: 2;

    @media (max-width: 1200px) {
      max-width: 500px;
    }

    @media (max-width: $breakpoint992) {
      max-width: 100px;
      animation: waveAnimation 5s infinite ease-in-out;
    }

    @media (max-width: $breakpoint768) {
      top: 10%;
      max-width: 100px;
    }
  }

  // .main__cloud-2

  &__cloud-2 {
    position: absolute;
    right: 0;
    top: 1%;
    max-width: 400px;
    z-index: 2;

    @media (max-width: 1200px) {
      max-width: 300px;
    }

    @media (max-width: $breakpoint992) {
      max-width: 100px;
      animation: waveAnimation 5s infinite ease-in-out;
      animation-delay: 0.5s;
    }

    @media (max-width: $breakpoint768) {
      top: 10%;
      max-width: 100px;
    }
  }

  // .main__line-1

  &__line-1 {
    position: absolute;
    bottom: -40px;
    left: 0;
    height: 200px;
    width: 100%;
    max-width: 100%;
    z-index: 2;

    @media (max-width: $breakpoint992) {
      height: auto;
      animation: waveAnimation 2s infinite ease-in-out;
    }

    @media (max-width: $breakpoint768) {
      bottom: -20px;
    }
  }

  // .main__line-2

  &__line-2 {
    position: absolute;
    bottom: -100px;
    left: 0;
    height: 200px;
    width: 100%;
    max-width: 100%;
    z-index: 1;


    @media (max-width: $breakpoint992) {
      height: auto;
      bottom: -80px;
      animation: waveAnimation 2s infinite ease-in-out;
      animation-delay: 0.5s;
    }

    @media (max-width: $breakpoint768) {
      bottom: -40px;
    }
  }

  // .main__texts

  &__texts {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 984px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    margin: 0 auto;
    z-index: 3;

    @media (max-width: 1200px) {
      top: 40px;
      row-gap: 30px;
    }

    @media (max-width: $breakpoint768) {
      top: 20px;
      row-gap: 20px;
    }
  }

  // .main__title

  &__title {
    color: var(--white-color);
    font-size: 62px;
    font-weight: 700;
    line-height: normal;

    @media (max-width: 1200px) {
      font-size: 40px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 24px;
    }
  }

  // .main__logo

  &__logo {
    max-width: 300px;



    img {
      max-width: 100%;
      width: 100%;
    }

    @media (max-width: 1200px) {}

    @media (max-width: $breakpoint768) {
      max-width: 140px;
    }
  }

  // .main__logo-pic

  &__logo-pic {}

  // .main__info

  &__info {
    position: relative;
    z-index: 3;
    max-width: 824px;
    margin: 0 auto;
    padding: 30px 20px 30px;
    border: 2px solid rgba(255, 255, 255, 0.50);
    border-radius: 60px;
    box-shadow: 0px 10px 10px 0px rgba(8, 51, 20, 0.30);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.20) 0%, rgba(255, 255, 255, 0.6) 52%, rgba(255, 255, 255, 0.20) 100%);

    @media (max-width: 1200px) {
      padding: 30px;
      border-radius: 40px;
    }

    @media (max-width: $breakpoint992) {
      margin: 0 20px;
    }

    @media (max-width: $breakpoint768) {
      padding: 20px;
      border-radius: 24px;
    }
  }

  // .main__descr

  &__descr {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;

    b {
      font-weight: 600;
    }

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  // .main__btn

  &__btn {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 24px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(000, 000, 000, 0.30);
    transition: box-shadow 0.2s linear, transform 0.2s linear;

    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: var(--text-color);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 40px;
      box-shadow: 0px 2px 10px rgba(183, 138, 66, 0.70);
      // background-image: url('../img/about/btn-bg.svg');
      background-size: cover;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 4px 10px rgba(000, 000, 000, 0.50);
        transform: translateY(-3px);
      }
    }

    @media (max-width: $breakpoint992) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }
}


.main {

  // .main__tresh

  &__tresh {
    position: relative;
    padding-top: 200px;
    margin-top: -300px;
    background: linear-gradient(180deg, #ADC9FF 0%, #FCB793 71.87%);

    @media (min-width: 1600px) {
      margin-top: -300px;
    }

    @media (max-width: $breakpoint992) {
      padding-top: 100px;
      margin-top: -200px;
    }
  }

  // .main__tresh-top

  &__tresh-top {
    display: flex;
    align-items: center;
    // max-width: 1200px;
    // padding: 0 20px;
    margin: 0 auto;

    @media (max-width: $breakpoint992) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .main__tresh-picture

  &__tresh-picture {
    flex: 0 1 50%;

    img {
      max-width: 100%;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;

      img {
        max-width: 400px;
      }
    }

    @media (max-width: $breakpoint768) {
      img {
        max-width: 200px;
      }
    }
  }

  // .main__slider-wrapper

  &__slider-wrapper {
    position: relative;
    flex: 0 1 50%;
    padding-right: 150px;

    @media (max-width: 1200px) {
      padding-right: 40px;
    }

    @media (max-width: $breakpoint992) {
      flex: 0 1 auto;
      padding: 0 40px;
      margin: 0 auto;

      @media (max-width: $breakpoint768) {
        padding: 0 20px;
      }
    }
  }

  // .main__slider-top

  &__slider-top {
    max-width: 300px;
    // margin-bottom: 26px;

    img {
      max-width: 100%;
    }

    @media (max-width: $breakpoint768) {
      max-width: 200px;

    }
  }

  // .main__tresh-slider

  &__tresh-slider {
    max-width: 680px;

    @media (max-width: 1200px) {
      max-width: 400px;
      margin-left: 0;
    }

    @media (max-width: $breakpoint992) {
      margin: 0 auto;
    }

    @media (max-width: $breakpoint768) {
      max-width: 300px;
    }
  }

  // .main__tresh-slider-wrapper

  &__tresh-slider-wrapper {}

  // .main__tresh-slide

  &__tresh-slide {
    max-width: 700px;

    @media (max-width: 1200px) {
      max-width: 400px;
    }

    @media (max-width: $breakpoint768) {
      max-width: 300px;
    }
  }

  // .main__tresh-slide-top

  &__tresh-slide-top {
    display: flex;
    align-items: center;
    column-gap: 100;
    margin-bottom: 26px;
    padding-top: 26px;

    img {
      max-width: calc(100% - 140px);
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 16px;
      padding-top: 16px;
    }
  }

  // .main__tresh-slide-label

  &__tresh-slide-label {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .main__tresh-slide-link

  &__tresh-slide-link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px 44px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(000, 000, 000, 0.30);
    transition: box-shadow 0.2s linear, transform 0.2s linear;

    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    color: var(--text-color);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 40px;
      box-shadow: 0px 2px 10px rgba(183, 138, 66, 0.70);
      // background-image: url('../img/about/btn-bg.svg');
      background-size: cover;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 4px 10px rgba(000, 000, 000, 0.50);
        transform: translateY(-3px);
      }
    }

    @media (max-width: 1200px) {
      padding: 6px 20px;
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .main__tresh-slide-descr

  &__tresh-slide-descr {
    max-width: 678px;
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .main__tresh-slider-pagination

  &__tresh-slider-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;

    .swiper-pagination-bullet {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 10px !important;
      border-radius: 100%;
      background-color: #fff;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% + 17px);
          height: calc(100% + 17px);
          background-image: url('../img/tresh/dot-bg.svg');
          // background-size: cover;
        }
      }
    }
  }

  // .main__tresh-slider-arrow

  &__tresh-slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s linear;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-50%) translateX(-3px);
      }
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .main__tresh-slider-arrow--prev

  &__tresh-slider-arrow--prev {
    left: -70px;

    &.swiper-button-disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 1200px) {
      left: -40px;
    }
  }

  // .main__tresh-slider-arrow--next

  &__tresh-slider-arrow--next {
    right: 70px;

    &.swiper-button-disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 1200px) {
      right: 40px;
    }

    @media (max-width: $breakpoint992) {
      right: -40px;
    }
  }


  &__tresh-footer {
    position: relative;
    margin-top: -100px;
    padding-bottom: 100px;

    @media (max-width: $breakpoint768) {
      margin-top: 0;
      padding-bottom: 40px;
    }
  }

  &__tresh-bg {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 400px;
    width: 100%;
    z-index: 3;

    @media (max-width: $breakpoint992) {
      height: auto;
    }
  }

  &__tresh-footer-line-1 {
    position: absolute;
    bottom: 60px;
    left: 0;
    height: 200px;
    width: 100%;
    max-width: 100%;
    z-index: 2;

    @media (min-width: 1600px) {
      bottom: 50px;
    }

    @media (max-width: $breakpoint992) {
      bottom: 70px;
      height: auto;
    }

    @media (max-width: $breakpoint768) {
      bottom: 30px;
    }

    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
    }
  }

  &__tresh-footer-line-2 {
    position: absolute;
    bottom: 40px;
    left: 0;
    z-index: 1;
    height: 200px;
    width: 100%;
    max-width: 100%;

    @media (min-width: 1600px) {
      bottom: 20px;
    }

    @media (max-width: $breakpoint992) {
      bottom: 50px;
      height: auto;
    }


    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
      animation-delay: 0.5s;
    }

    @media (max-width: $breakpoint768) {
      bottom: 15px;
    }

  }





}

.main {

  // .main__longrid

  &__longrid {
    position: relative;
    padding-top: 250px;
    margin-top: -250px;
    background: linear-gradient(180deg, #F2944E -1.24%, #FFE4B5 72.72%);

    @media (min-width: 1600px) {
      margin-top: -300px;
      padding-top: 250px;
    }

    @media (max-width: $breakpoint768) {
      padding-top: 100px;
      margin-top: -100px;
    }
  }

  // .main__longrid-content

  &__longrid-content {
    position: relative;
    max-width: fit-content;
    padding: 0 80px;
    margin: 0 auto;

    @media (max-width: $breakpoint768) {
      padding: 0 20px;
    }
  }

  // .main__longrid-slider

  &__longrid-slider {
    max-width: 940px;
    margin: 0 auto;
    padding-bottom: 40px;

    @media (max-width: $breakpoint768) {
      padding-bottom: 0;
    }
  }

  // .main__longrid-wrapper

  &__longrid-wrapper {}

  // .main__longrid-slide

  &__longrid-slide {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  // .main__longrid-slide-pic

  &__longrid-slide-pic {
    img {
      max-width: 100%;
    }
  }

  // .main__longrid-slide-label

  &__longrid-slide-label {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 18px;
    }
  }

  // .main__longrid-slide-descr

  &__longrid-slide-descr {
    font-size: 20px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  &__longrid-slide-info {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 36px;

    @media (max-width:359px) {
      column-gap: 24px;
    }
  }

  // .main__longrid-slide-time

  &__longrid-slide-time {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  // .main__longrid-slide-link

  &__longrid-slide-link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 8px 44px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(000, 000, 000, 0.30);
    transition: box-shadow 0.2s linear, transform 0.2s linear;

    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    color: var(--text-color);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 40px;
      box-shadow: 0px 2px 10px rgba(183, 138, 66, 0.70);
      // background-image: url('../img/about/btn-bg.svg');
      background-size: cover;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 4px 10px rgba(000, 000, 000, 0.50);
        transform: translateY(-3px);
      }
    }

    @media (max-width: 1200px) {
      padding: 6px 20px;
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .main__longrid-slider-pagination

  &__longrid-slider-pagination {
    position: static;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 10px;

    .swiper-pagination-bullet {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 10px !important;
      border-radius: 100%;
      background-color: #fff;
      opacity: 1;

      &.swiper-pagination-bullet-active {
        &::before {
          content: '';
          position: absolute;
          z-index: -1;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: calc(100% + 16px);
          height: calc(100% + 16px);
          background-image: url('../img/tresh/dot-bg.svg');
          // background-size: cover;
        }
      }
    }
  }

  // .main__longrid-slider-arrow

  &__longrid-slider-arrow {
    position: absolute;
    top: 28%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: transform 0.2s linear;

    @media (hover: hover) {
      &:hover {
        transform: translateY(-50%) translateX(-3px);
      }
    }


    @media (max-width: $breakpoint992) {
      top: 20%;
    }

    @media (max-width: $breakpoint768) {
      display: none;
    }
  }

  // .main__longrid-slider-arrow--prev

  &__longrid-slider-arrow--prev {
    left: -20px;

    &.swiper-button-disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 1200px) {
      left: 0;
    }


    @media (max-width: $breakpoint992) {
      left: 20px;
    }
  }

  // .main__longrid-slider-arrow--next

  &__longrid-slider-arrow--next {
    right: -20px;

    &.swiper-button-disabled {
      opacity: 0;
      user-select: none;
      pointer-events: none;
    }

    @media (max-width: 1200px) {
      right: 0;
    }

    @media (max-width: $breakpoint992) {
      right: 20px;
    }
  }

  // .main__longrid-footer

  &__longrid-footer {
    position: relative;
    margin-top: -100px;
    padding-bottom: 100px;

    @media (max-width: $breakpoint768) {
      margin-top: 0;
      padding-bottom: 40px;
    }
  }

  // .main__longrid-bg

  &__longrid-bg {
    position: relative;
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: 600px;
    z-index: 3;
    user-select: none;
    pointer-events: none;

    @media (max-width: $breakpoint992) {
      height: auto;
    }

  }

  // .main__longrid-line-1

  &__longrid-line-1 {
    position: absolute;
    bottom: 60px;
    left: 0;
    max-width: 100%;
    height: 200px;
    width: 100%;
    z-index: 2;

    @media (min-width: 1600px) {
      bottom: 60px;
    }

    @media (max-width: $breakpoint992) {
      bottom: 80px;
      height: auto;
    }

    @media (max-width: $breakpoint768) {
      bottom: 20px;
    }

    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
    }
  }

  // .main__longrid-line-2

  &__longrid-line-2 {
    position: absolute;
    bottom: 20px;
    left: 0;
    z-index: 1;
    height: 200px;
    width: 100%;
    max-width: 100%;

    @media (min-width: 1600px) {
      bottom: 20px;
    }

    @media (max-width: $breakpoint992) {
      bottom: 40px;
      height: auto;
    }

    @media (max-width: $breakpoint768) {
      bottom: 0px;
    }

    @media (max-width: $breakpoint992) {
      animation: waveAnimation 2s infinite ease-in-out;
      animation-delay: 0.5s;
    }
  }
}


.main {

  // .main__faq

  &__faq {
    background: linear-gradient(180deg, #FDBA74 15.1%, #FF7F72 79.69%);
    position: relative;
    padding-top: 200px;
    margin-top: -300px;

    @media (min-width: 1600px) {
      margin-top: -360px;
      padding-top: 240px;
    }

    @media (max-width: $breakpoint992) {
      // margin-top: -120px;
    }

    @media (max-width: $breakpoint768) {
      padding-top: 100px;
      margin-top: -160px;
    }
  }

  // .main__faq-top

  &__faq-top {
    position: relative;
    min-height: 1200px;
    padding: 60px 0;
    background-image: url('../img/faq/faq-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: bottom;
    margin-bottom: -2px;

    @media (max-width: $breakpoint992) {
      min-height: 800px;
    }


    @media (max-width: $breakpoint768) {
      min-height: 400px;

    }
  }

  &__faq-top-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  // .main__faq-title

  &__faq-title {
    margin-bottom: 46px;
    text-align: center;
    font-size: 34px;
    font-weight: 700;

    @media (max-width: 1200px) {
      font-size: 20px;
    }

    @media (max-width: $breakpoint768) {
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  // .main__faq-content

  &__faq-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }

  // .main__faq-question-1

  &__faq-question-1 {
    position: relative;
    z-index: 1;
    max-width: 790px;
    padding: 30px 30px;
    font-size: 20px;

    b {
      font-weight: 600;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100%);
      height: calc(100%);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 60px;
      z-index: -1;
      overflow: hidden;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -26px;
      left: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 20px 40px 20px;
      border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
      border-radius: 10px 10px 10px 10px;
      transform: rotate(200deg);
      z-index: -2;
    }

    @media (max-width: $breakpoint992) {
      padding: 15px 20px;
      font-size: 18px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .main__faq-question-2

  &__faq-question-2 {
    position: relative;
    z-index: 1;
    margin-top: 20px;
    max-width: 740px;
    padding: 30px 76px;
    margin-left: auto;
    font-size: 20px;


    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: calc(100%);
      height: calc(100%);
      background-color: rgba(255, 255, 255, 1);
      border-radius: 60px;
      z-index: -1;
      overflow: hidden;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -20px;
      right: 0;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 0 20px 40px 20px;
      border-color: transparent transparent rgba(255, 255, 255, 1) transparent;
      border-radius: 10px 10px 10px 10px;
      transform: rotate(150deg);
      z-index: -2;
    }

    @media (max-width: $breakpoint992) {
      padding: 15px 24px;
      font-size: 18px;
    }


    @media (max-width: $breakpoint768) {
      font-size: 16px;
    }
  }

  // .main__faq-link

  &__faq-link {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 40px auto;
    padding: 8px 44px;
    background-color: var(--white-color);
    border-radius: 30px;
    box-shadow: 0px 2px 10px rgba(000, 000, 000, 0.30);
    transition: box-shadow 0.2s linear, transform 0.2s linear;

    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    color: var(--text-color);

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: calc(100% + 15px);
      height: calc(100% + 15px);
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 40px;
      box-shadow: 0px 2px 10px rgba(183, 138, 66, 0.70);
      // background-image: url('../img/about/btn-bg.svg');
      background-size: cover;
    }

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 4px 10px rgba(000, 000, 000, 0.50);
        transform: translateY(-3px);
      }
    }

    @media (max-width: 1200px) {
      padding: 6px 20px;
      font-size: 18px;
    }

    @media (max-width: $breakpoint768) {
      margin: 20px auto;
      font-size: 16px;
    }
  }

  // .main__faq-bottom

  &__faq-bottom {
    img {
      max-width: 100%;
      width: 100%;
    }
  }

  // .main__footer

  &__footer {
    position: relative;
    padding: 100px 0;
    min-height: 320px;
    background: linear-gradient(180deg, #162A4D 0%, #141430 100%);

    @media (max-width: $breakpoint768) {
      padding: 60px 0;
      min-height: 200px;
    }
  }

  // .main__footer-content

  &__footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  // .main__footer-text

  &__footer-text {
    color: #9D9D9D;
    font-size: 27px;
    opacity: 0.6;

    @media (max-width: $breakpoint768) {
      font-size: 17px;
    }
  }

  // .main__footer-list

  &__footer-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .main__footer-item

  &__footer-item {}

  // .main__footer-link

  &__footer-link {}
}